.grid {
    display: grid;
    max-width: 960px;
    max-height: 960px;
}

#grid1 {
    border-style: solid;
}

.black {
    background-color: black; 
}

.rojo {
    background-color: red;
}

.azul {
    background-color: blue;
}

.normal {
    background-color: white;
}